<form (submit)="submitDelete($event)" id="area">
    <section id="caixa">
        <h1>DELETE PRODUTO</h1>


        <h3>ID do produto para deletar</h3>

        <input type="number" id="input_admin" [formField]="deleteForm.id" />
        @if (deleteForm.id().touched() && deleteForm.id().invalid()) {
        @for (error of deleteForm.id().errors(); track error.kind) {
        <p id="alerta">{{error.message}}</p>
        }
        }

        <div class="acoes">
            <button id="deletar" class="botao" type="button" onclick="submitDelete($event)">
                <span>Deletar produto</span>
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </section>
</form>