<div class="footer-content">
    <!-- Banner de social media -->
    <div class="social-media">
        <img id="hashtag-icon" src="" alt="">
        <h2>NOS ENCONTRE NAS REDES SOCIAIS</h2>
        <!-- Icones das social-medias -->
        <div class="media-icons">
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>

    </div>

    <!-- Coluna de promoções -->
    <div class="promotions">
        <div class="title"></div>
        <div class="input"></div>
    </div>
    <!-- Colunas de informações -->
    <div class="col-container">
        <!-- Coluna "Sobre nós" -->
        <div class="col-1"></div>
            <!-- Coluna "Entregas" -->
        <div class="col-2"></div>
        <!-- Coluna "Ajuda" -->
        <div class="col-3"></div>
    </div>
    <!-- Informações de pagamento e segurança -->
    <div class="info-container">
        <div class="payment"></div>
        <div class="security"></div>
    </div>
    
</div>
<!-- Logos das marcas (Ex: Strype, Adidas, etc..) -->
<div class="logos-container"></div>