<div class="footer-content">
    <!-- Banner de social media -->
    <div class="social-media">
        <img id="hashtag-icon" src="/assets/social-media-icons-footer/hashtag-icon.png" alt="Imagem de um Hashtag">
        <h2>NOS ENCONTRE NAS REDES SOCIAIS</h2>
        <!-- Icones das social-medias -->
        <div class="media-icons">
            <a href=""><img src="/assets/social-media-icons-footer/instagram-logo.png" alt="Logo do Isntagram"></a>
            <a href=""><img src="/assets/social-media-icons-footer/facebook-logo.png" alt="Logo do Facebook"></a>
            <a href=""><img src="/assets/social-media-icons-footer/whatsapp-logo.png" alt="Logo do Whatsapp"></a>
            <a href=""><img src="/assets/social-media-icons-footer/linkedin-logo.png" alt="Logo do LinkedIn"></a>
        </div>

    </div>

    <!-- Colunas de informações -->
    <div class="col-container">
        <!-- Coluna "Sobre nós" -->
        <div class="col-1">
            <h3>SOBRE NÓS</h3>
            <a href="">Nossa história</a>
            <a href="">Nosso blog</a>
            <a href="">Lojas parceiras</a>
            <a href="">Vendas corporativas</a>
            <a href="">Carreira</a>
        </div>
        <!-- Coluna "Entregas" -->
        <div class="col-2">
            <h3>ENTREGAS</h3>
            <a href="">Frete gratís</a>
            <a href="">Entrega rápida</a>
            <a href="">Troca gratís</a>
            <a href="">Retira fácil</a>
            <a href="">Troca e devolução</a>
            <a href="">Entenda nossos prazos</a>
        </div>
        <!-- Coluna "Ajuda" -->
        <div class="col-3">
            <h3>AJUDA</h3>
            <a href="">Fale conosco</a>
            <a href="">Política de privacidade</a>
            <a href="">Cuidado com os produtos</a>
            <a href="">Dúvidas frequentes</a>
        </div>
    </div>
</div>
<!-- Logos das marcas (Ex: Strype, Adidas, etc..) -->
<div class="logos-container">
    <img id="strype-logo" src="/assets/brands-logos/STRYPE-LOGO.png" alt="Logo da strype">
    <img id="north-face-logo" src="/assets/brands-logos/NorthFace-logo.png" alt="Logo da marca The North Face">
    <img id="adidas-logo" src="/assets/brands-logos/Adidas-logo.png" alt="Logo da marca Adidas">
    <img id="jordan-logo" src="/assets/brands-logos/Jordan-logo.png" alt="Logo da sub-marca Jordan">
    <img id="nike-logo" src="/assets/brands-logos/Nike-logo.png" alt="Logo da marca Nike">
</div>