<div class="hero-container">
    <div class="hero-content">
        <header>
            <nav class="navigation">
                <!-- Adcionar rotas -->
                 <a routerLink="#"><!--SMAP LOGO--></a>
                <a routerLink="#">Adidas</a>
                <a routerLink="#">Nike</a>
                <a routerLink="#">The North Face</a>
                <a routerLink="#">Midias e equipamentos</a>
                <a routerLink="#">Login</a>
                <a routerLink="#">#</a> <!--icone de carrinho-->
                <a routerLink="#">#</a> <!--icone de conta-->
            </nav>
        </header>
    </div>
    <div class="search-bar">
<!-- Aqui é pra mim descobrir como fazer uma barra de pesquisa hahaha -->
    </div>
</div>