@import url('https://googleapis.com');

#area {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

#area h1 {
    font-size: 3rem;
}

#caixa {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    width: 40%;
    border-radius: 20px;
    font-size: 2.5rem;
    gap: 70px;
}

#cadastrar {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border: 2px rgb(65, 65, 65) solid;
    border-radius: 10px;
    width: 300px;
    transition: .6s;
    background-color: #43B265;
    color: white;
}

#cadastrar:hover {
    scale: 1.05;
    cursor: pointer;
}

#atualizar {
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 2px rgb(65, 65, 65) solid;
    border-radius: 10px;
    background-color: #EBAD26;
    color: white;
    transition: .6s;
}

#atualizar:hover {
    scale: 1.05;
    cursor: pointer;
}

#deletar {
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 2px rgb(65, 65, 65) solid;
    border-radius: 10px;
    background-color: #E03E3B;
    color: white;
    transition: .6s;
}

#deletar:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.267);
    cursor: pointer;
}
