   /* IMPORTS */
   @import url('https://googleapis.com');

   *,
   *::before,
   *::after {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }

   :root {
       /* Cores Principais */
       --primary-color: #FF8D28;
       --primary-hover: #FF7800;
       --secondary-color: #424242;

       /* Cores de Fundo e Texto */
       --bg-color: #f8f9fa;
       --surface-color: #ffffff;
       --text-color: #212529;
       --text-muted: #6c757d;
        --btn-color: #D2D2D2;

       /* Fontes e Tamanhos */
       --font-main: 'Rubik', sans-serif;
       --border-radius: 8px;
       --transition-speed: 1.5s;
   }

   /* ESTILOS DO CORPO E ESTRUTURA*/
   html,
   body {
       height: 100%;
   }

   body {
       font-family: var(--font-main);
       background-color: var(--bg-color);
       color: var(--text-color);
       line-height: 1.5;
       -webkit-font-smoothing: antialiased;
   }

   /*ELEMENTOS GLOBAIS (Links, Botões, Imagens)*/
   a {
       color: var(--primary-color);
       text-decoration: none;
       transition: color var(--transition-speed) ease;
   }

   a:hover {
       color: var(--primary-hover);
   }

   img {
       max-width: 100%;
       height: auto;
       display: block;
   }

   button {
       font-family: inherit;
       cursor: pointer;
       border: none;
       background: none;
   }
